<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27355455-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-27355455-3');
    </script>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">

    <style type="text/css">
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
    </style>


    <title>Testing testing testing</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="assets/sortable-tables.min.js"></script>
    <script type="text/javascript" src="assets/filter.js"></script>
</head>